
<div class=" mt-4 p-0">
        <div id="carouselExampleCaptions" class="carousel  slide" style="width: 100%;" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div> 
            <div class="carousel-inner">
                <a href="/product/popularproducts">

                    <div class="carousel-item active carousel-img-edit ">
                        <img src="~/img/a4.webp" class="d-block w-100 img-edit m-0 p-0" style="width: 100%;">
                        <div class="carousel-caption d-none d-md-block">
                        </div>
                    </div>
                </a>
                <a asp-controller="Product" asp-action="PopularProducts">
                    <div class="carousel-item">
                        <img src="~/img/a2.webp" class="d-block w-100 img-edit">
                        <div class="carousel-caption d-none d-md-block"
                            style="color: white; font-family: 'Gabarito'; font-size: 50px;">
                            <h1>Tarzınıza Uygun</h1>
                            <p>İndirimlerden Yararlanmak İçin Alışverişe Başla</p>
                        </div>
                    </div>
                </a>
  <a href="/product/search?q=sweatshirt">

                    <div class="carousel-item carousel-img-edit ">
                        <img src="~/img/a5.webp" class="d-block w-100 img-edit m-0 p-0" style="width: 100; object-fit: fill;">
                        <div class="carousel-caption d-none d-md-block">
                        </div>
                    </div>
                </a>
                
                <button class="carousel-control-prev " type="button" data-bs-target="#carouselExampleCaptions"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next " type="button" data-bs-target="#carouselExampleCaptions"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
