    <div class="mt-0 mx-0 px-0">
        <footer class="text-center text-lg-start text-white" style="background-color: #1c2331">
            <section class="d-flex justify-content-between p-4" style="background-color: #6351ce">
                <div class="me-5">
                    <span>Sosyal Medyada Bizi Takip Edebilirsiniz:</span>
                </div>
                <div>
                    <a href="https://www.facebook.com/" target="_blank" class="text-white me-4">
                        <i class="fab fa-facebook-f"></i></a>
                    <a href="" target="_blank" class="text-white me-4" >
                        <i class="fab fa-twitter"></i></a>
                    <a href="" target="_blank" class="text-white me-4">
                        <i class="fab fa-google"></i></a>
                    <a href="" target="_blank" class="text-white me-4">
                        <i class="fab fa-instagram"></i></a>
                    <a href="" target="_blank" class="text-white me-4">
                        <i class="fab fa-linkedin"></i></a>
                    <a href="" target="_blank" class="text-white me-4">
                        <i class="fab fa-github"></i></a>
                </div>
            </section>

            <section class="">
                <div class="container text-center text-md-start mt-5">

                    <div class="row mt-3">

                        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

                            <h6 class="text-uppercase fw-bold">Elegant Giyim E-Ticaret</h6>
                            <hr class="mb-4 mt-0 d-inline-block mx-auto"
                                style="width: 60px; background-color: #7c4dff; height: 2px" />
                            <p>
                                Moda ve tarzın bir araya geldiği yerde, en yeni giyim trendlerini ve şıklıkla buluşuyorsunuz! Her sezonun en güncel ve şık giyim ürünlerini sunarak sizi en iyi şekilde giydirmek için buradayız
                            </p>
                        </div>



                        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

                            <h6 class="text-uppercase fw-bold">Ürünler</h6>
                            <hr class="mb-4 mt-0 d-inline-block mx-auto"
                                style="width: 60px; background-color: #7c4dff; height: 2px" />
                            <p>
                                <a href="#!" class="text-white">Erkek</a>
                            </p>
                            <p>
                                <a href="#!" class="text-white">Kadın</a>
                            </p>
                            <p>
                                <a href="/home/popularproducts" class="text-white">Popüler</a>
                            </p>
                            
                        </div>

                        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

                            <h6 class="text-uppercase fw-bold">Useful links</h6>
                            <hr class="mb-4 mt-0 d-inline-block mx-auto"
                                style="width: 60px; background-color: #7c4dff; height: 2px" />
                            <p>
                                <a href="/account/login" class="text-white">Giriş Yap</a>
                            </p>
                            <p>
                                <a href="/account/register" class="text-white">Kayıt Ol</a>
                            </p>
                            <p>
                                <a href="#" class="text-white">Biz Kimiz</a>
                            </p>
                            <p>
                                <a href="/" class="text-white">Ana Sayfa</a>
                            </p>
                        </div>



                        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

                            <h6 class="text-uppercase fw-bold">Contact</h6>
                            <hr class="mb-4 mt-0 d-inline-block mx-auto"
                                style="width: 60px; background-color: #7c4dff; height: 2px" />
                            <p><i class="fas fa-home mr-3"></i> İstanbul Beykoz, 343536</p>
                            <p><i class="fas fa-envelope mr-3"></i> info@elegant.com</p>
                            <p><i class="fas fa-phone mr-3"></i> +90 555 444 34 43</p>
                            <p><i class="fas fa-print mr-3"></i> +90 444 666 7898</p>
                        </div>

                    </div>

                </div>
            </section>

            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
                © 2023 Copyright:
                <a class="text-white" href="#">Elegant.com</a>
            </div>

        </footer>
    </div>




