@model ProductViewModel

        <div class="container py-5 m-0">
        <div class="card" style="border-radius: 5px;">
            <div class="bg-image hover-overlay ripple ripple-surface ripple-surface-light"
                data-mdb-ripple-color="light">
               
                    <img src="~/img/@Model.ImageUrls.First().ImageUrl"
                style="border-top-left-radius: 5px; border-top-right-radius: 5px; width: 400px;
                 height:260px; " class="img-fluid"  /> 
                @* w:600 h:300 *@
            </div>
            <div class="card-body pb-0 me-0 pt-3">
                <div class="d-flex justify-content-center">
                <div>
                    
                    <h5 class="text-dark" style="text-decoration: none;">@Model.Name.Substring(0,33)..</h5>
                </div>
                </div>
                 <h5 class="mt-4 mb-3 text-center">
            @Model.Price <i class="fa-solid fa-turkish-lira-sign"></i>
                 </h5>  
            </div>
            
            <hr class="my-0" />
            <div class="card-body p-2">
                <div class="d-flex justify-content-center align-items-center pb-0 mb-0 ">
               <a asp-controller="Product" asp-action="Details" asp-route-id=@Model.Id ><button class="btn btn-dark mx-1 btn-sm">Ürün Detayları</button></a> 
           
               
                </div>
            </div>
            </div>
    </div>



 