@model List<OrderListModel>
<div class="container my-5 p-0">
    <table id="ordersTable" class="table table-hover align-middle" cellspacing="0" width="100%">
        <thead>
            <tr>
        <th class="th-sm">Tarih
        </th>
            <th class="th-sm">Sipariş Numarası
        </th>
        <th class="th-sm">Müşteri Numarası
        </th>
         <th class="th-sm">Müşteri Ad-Soyad
        </th>
        <th class="th-sm">Sipariş Detayı
        </th>
            </tr>
        </thead>

    <tbody>
        @foreach(var item in Model){

        <tr>
            <td>@item.OrderDate</td>
            <td>@item.OrderNumber</td>
            <td>@item.CustomerId</td>
            <td>@item.CustomerNameSurname</td>
        
            <td>
                @if(item.orderState.ToString().Contains("received")){
                <span class="me-2">Hazırlanıyor</span>
                <a href="/admin/OrderDetails/@item.Id" class="btn btn-primary btn-sm"><i class="fa-solid fa-circle-info"></i></a>    
                }else if(item.orderState.ToString().Contains("cancelled")){

                <span class="me-2">İptal Edildi</span>
                <a href="/admin/OrderDetails/@item.Id" class="btn btn-primary btn-sm"><i
                class="fa-solid fa-pen-to-square"></i></a>
                }else if(item.orderState.ToString().Contains("inCargo")){

                <span class="me-2">Kargoya Verildi</span>
                <a href="/admin/OrderDetails/@item.Id" class="btn btn-primary btn-sm"><i
                class="fa-solid fa-pen-to-square"></i></a>
                }else if(item.orderState.ToString().Contains("completed")){

                <span class="me-2">Tamamlandı</span>
                <a href="/admin/OrderDetails/@item.Id" class="btn btn-primary btn-sm"><i
                class="fa-solid fa-pen-to-square"></i></a>
                }
            </td>
        </tr>
        }
    </tbody>
    </table>

</div>


