@model IEnumerable<IdentityRole>

@if(Model.Count()>0){

<div class="container my-5">

    <div class="row">

        <div class="col-md-5">
  <table id="roleTable" class="table table-hover align-middle p-5" cellspacing="0" width="100%">
    <thead>
      <tr>
        
        <th class="th-sm">Rol Adı
        </th>
        
        <th class="th-sm">Kullanıcıları Düzenle
        </th>
        <th class="th-sm">Sil
        </th>

      </tr>
    </thead>
    <tbody>
    

        
            @foreach(var item in Model){
        <tr>
          <td >
          @item.Name
          </td>
           <td >
           <a href="/admin/role/@item.Id" class="btn btn-primary btn-sm mr-2">Düzenle</a>
          </td>
           <td >
            <form action="/admin/RoleDelete/@item.Id" method="POST">
            <input type="hidden" name="RoleId" value="@item.Id">
          <button type="submit" class="btn btn-danger btn-sm">Sil 
            </form>
          </td>
          </tr>
            }
          
      


    </tbody>

  </table>
        
        </div>
    </div>



</div>
    }else{
      <div class="container my-5 ">

            <div class="alert alert-warning text-center">
            <h3>Rol Bulunmamaktadır.</h3>
             </div>
      </div>
          }