@model IEnumerable<User>

<div class="container my-5 p-0">
    @if(Model.Count()>0){

  <table id="usersTable" class="table table-hover align-middle" cellspacing="0" width="100%">
  
 <thead>
      <tr>
        <th class="th-sm">Adı
        </th>
         <th class="th-sm">Soyadı
        </th> 
        <th class="th-sm">Email
        </th> 
        <th class="th-sm">Hesap Onay Durumu
        </th> 
         <th class="th-sm">Rol
        </th> 
        <th class="th-sm">Düzenle
        </th>
        <th class="th-sm">Sil
        </th>
      </tr>
    </thead>

    <tbody>
        @foreach(var item in Model){
            <tr class="@(!item.EmailConfirmed ? "bg-warning" : "")">
        <td>
            @item.FirstName
        </td>
         <td>
            @item.LastName
       </td>
       <td>
        @item.Email
       </td>
        <td>
            @if(item.EmailConfirmed){
                <span>Onaylanmış</span>
            }else{
                <span>Onaylanmamış</span>
            }
        
       </td>
       <td>
        
       </td>
        <td>
            <a href="/admin/UserEdit/@item.Id" class="btn btn-primary btn-sm">Düzenle<i
                class="fa-solid fa-pen-to-square p-1"></i></a>
        </td>
        <td>
            <a href="/admin/UserDelete/@item.Id" class="btn btn-danger btn-sm">Sil<i
                class="fa-solid fa-trash p-1 "></i></a>
        </td>
            </tr>
        }
        
    </tbody>


  </table>
    }else{
    <div class="alert alert-dark">
        <h5 class="text-center">Kullanıcı Bulunmamaktadır.</h5>
    </div>
    }
</div>